<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>X: {{ getX() }}</ion-label>
  <br>
  <ion-label>Y: {{ getY() }}</ion-label>
</ion-content>
